<!DOCTYPE html>
html(ng-app='')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title DOST Nationwide Operational Assessment of Hazards

        link(href='../lib/bootstrap/css/bootstrap.css', rel='stylesheet')
        link(href='../lib/bootstrap/css/bootstrap-responsive.css', rel='stylesheet')
        link(href='../lib/leaflet/leaflet.css', rel='stylesheet')
        link(href='../static/css/styles.css', rel='stylesheet')

    body(ng-controller='CounterCtrl')
        div(class='navbar navbar-inverse')
            .navbar-inner
                .container
                    a(class='btn btn-navbar', data-toggle='collapse', data-target='.nav-collapse')
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar

                        a.brand(href='/', style='font-size: 16px;')
                            | <img id="logo" src="../static/images/dost.png" %}"/> DOST Nationwide Operational Assessment of Hazards

                        p#counter(class='navbar-text pull-right', style='font-size: 20px;')
                            font(color='#990000') Sensor count: {{ count }}

        .container-fluid
            .row-fluid
                .span12
                    #map

        script(src='../lib/bootstrap/js/bootstrap.min.js')
        script(src='../lib/leaflet/leaflet.js')
        script(src='../lib/jquery-1.9.1.js')
        script(src='../static/js/script.js')
        script(src='../lib/angular/angular.js')

